
<div class="container">
  <div class="card">
    <% @shopping_cart_cards.each do |item|%>
    <div class="row">
      <div class="col-sm-3">
        <% if item.menu_item.food_type == "pizza" %>


          <img src="https://images-na.ssl-images-amazon.com/images/I/51CE9KY1cpL._SX425_.jpg" alt="">
        <% else %>
          <img src="https://images.cdn1.stockunlimited.net/clipart/iced-drink-with-fruit-slice_1902887.jpg" alt="">
        <% end %>
      </div>
      <div class="col-sm-6">
        <div class="card-body-right">
          <h4 class="card-title mt-3" ><%= item.menu_item.name %> x <%= item.quantity %> </h4>
          <%= form_for item, remote: true do |f| %>
            <%= f.hidden_field :menu_item_id, :value => item.menu_item.id %>
            <%= f.number_field :quantity, :value => item.quantity.to_i, :min => 0 %>
            <%= f.submit "Update cart" %>
            <%= link_to "Remove Items", card_path(item), method: :delete, remote: true, class: "btn btn-danger"%>
          <% end %>
          <div class="border-bottom mt-2 ">
            <h2>Subtotal: $<%= item.total %></h2>
          </div>
          <br>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <h2>Total : $<%= current_shopping_cart.subtotal %></h2>
  <%= link_to "Proceed to Checkout", confirmation_path, class: "btn btn-success" %>
</div>
