<div class="container">

  <%@shopping_cart.cards.each do |card| %>
    <div class="">
      <%= card.menu_item.name %> x <%= card.quantity %> : $<%= card.total %>
    </div>
  <% end %>

  <% unless current_shopping_cart.subtotal == 0 %>
    <div class="">
      Order prices is : $<%= current_shopping_cart.subtotal %> + $2.44 for delivery cost
    </div>
    <br>
    <div class="">
      TOTAL COST: $<%= current_shopping_cart.subtotal + 2.44 %>
    </div>
    <br>

    <%= form_for @order do |f| %>
      First name: <%= f.text_field :first_name %> <br>
      Last name: <%= f.text_field :last_name %> <br>
      Address: <%= f.text_field :address %> <br>
      Phone number: <%= f.text_field :phone_number %> <br><br>
      <%= f.submit "Confirm" %>
    <% end %>

  <% else %>
    <div class="card text-center">
      <h1>Your Shopping cart is empty!</h1>
    </div>
    <br>
    <%= link_to "Back to menu", pages_path, class: "btn btn-info" %>
  <% end %>

</div>
