    <%= render 'navbar' %>
<div class="row">
  <div class="menu-items col-sm-8">

  <div class="pizza-header">
    <h2><strong>PIZZAS </strong> AT ALFREDO'S PIZZA CAFE</h2>
  </div>
  <div class="card-columns">
    <%@menu_items.each do |item|%>
      <% if item.food_type == "pizza"%>
        <div class="card">
          <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51CE9KY1cpL._SX425_.jpg" alt="a photo of a pizza">
          <div class="card-body">
            <h5 class="card=title"><%= item.name %></h5>
            <p class="card-text"><%= item.description %></p>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <div class="price">
              $<%= item.price %>
            </div>
            <div class="text-right">
              <%= form_for @card, remote: true do |f| %>
              <%= f.hidden_field :menu_item_id, :value => item.id%>
              <%= f.number_field :quantity, :value => 1, :min => 1 %>
              <%= f.submit "Add to cart",class:"btn btn-sm btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>



  <div class="drink-header">
    <h2><strong>DRINKS </strong> AT ALFREDO'S PIZZA CAFE</h2>
  </div>
  <div class="card-columns">
    <%@menu_items.each do |item|%>
      <% if item.food_type == "drink"%>
        <div class="card">
          <img class="card-img-top" src="https://images.cdn1.stockunlimited.net/clipart/iced-drink-with-fruit-slice_1902887.jpg" alt="a photo of a pizza">
          <div class="card-body">
            <h5 class="card=title"><%= item.name %></h5>
            <p class="card-text"><%= item.description %></p>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <div class="price">
              $<%= item.price %>
            </div>
            <div class="text-right">
              <%= form_for @card, remote: true do |f| %>
              <%= f.hidden_field :menu_item_id, :value => item.id%>
              <%= f.number_field :quantity, :value => 1, :min => 1 %>
              <%= f.submit "Add to cart",class:"btn btn-sm btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="cart">
    <%= render 'shopping_carts/cart' %>
  </div>
  </div>

</div>
