<div class="container">
    <div class="text-center">
      <h3>The order has been received</h3>
      <%= session[:order]["first_name"] %>, <%= session[:order]["last_name"] %> <br>
      <%= session[:order]["address"] %> <br>
      <%= session[:order]["phone_number"] %>
      <br> <br>
      <%= link_to "New Order", pages_path, class: "btn btn-info" %>
    </div>
  </div>
